/*Variables*/

/*Fuentes*/
$fuente1: 'Playfair Display', serif;
$fuente2: 'Roboto', sans-serif;

/*Font Sizes*/
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

/* Font weight*/

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

/*Paleta de Colores*/

/*Paleta de Negros*/
$color-negro1: #121619;
$color-negro2: #222323;
$color-niquel: #6C6E70;

/*Paletas de Rosas*/
$color-rosa: #D76C69;

/*Paleta de Grises*/
$color-blanco: #fff;
$color-plata: #E6E7E7;
$color-gris: #D1D1D1;
